//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: 'inter', sans-serif;
	font-style: normal;
	color: #E4E5EA;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------

//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import "sourse-styles/null.scss";

body {
	background-color: #0E1014;
}
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------

//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	height: 100vh;
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------

//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------

//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import "sourse-styles/header.scss";
@import "sourse-styles/main.scss";
@import "sourse-styles/footer.scss";
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------

//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------
.background__purple--1 {
	@media(min-width:1200px) {
		border-radius: 50%;
		position: absolute;
		width: 60px;
		height: 60px;
		left: 868px;
		top: -2px;
		z-index: -1;

		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
		box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
		filter: blur(5px);
		backdrop-filter: blur(2px);
	}
}
.background__red--1 {
	@media(min-width:1200px) {
		border-radius: 50%;
		position: absolute;
		width: 83px;
		height: 83px;
		left: 519px;
		top: 83px;
		z-index: -1;

		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
		box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
		backdrop-filter: blur(2px);
	}
}
.background__red--2 {
	@media (min-width: 1200px) {
		border-radius: 50%;
		position: absolute;
		width: 28px;
		height: 28px;
		left: 851px;
		top: 547px;
		z-index: -1;

		background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
		box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
		filter: blur(2.5px);
		backdrop-filter: blur(2px);
	}
}
.background__purple--2 {
	@media (min-width: 1200px) {
		border-radius: 50%;
		position: absolute;
		width: 259px;
		height: 259px;
		left: 602px;
		top: -154px;
		z-index: -1;
	
		background: #833AB4;
		opacity: 0.5;
		filter: blur(196px);
	}
}
.background__red--3 {
	@media (min-width: 1200px) {
		border-radius: 50%;
		position: absolute;
		width: 311px;
		height: 311px;
		left: -102px;
		top: 251px;
		z-index: -1;

		background: #961A1A;
		opacity: 0.5;
		filter: blur(196px);
	}
}

.background__1--mobile {
	position: absolute;
	display: block;
	width: 259px;
	height: 259px;
	left: 258px;
	top: 107px;

	background: #833AB4;
	opacity: 0.5;
	filter: blur(196px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.background__2--mobile {
	position: absolute;
	width: 211px;
	height: 210px;
	left: -55px;
	top: 241px;

	background: #961A1A;
	opacity: 0.5;
	filter: blur(196px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.background__3--mobile {
	position: absolute;
	width: 200px;
	height: 200px;
	left: -66px;
	top: 519px;

	background: #FCB045;
	opacity: 0.4;
	filter: blur(196px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.background__4--mobile {
	border-radius: 50%;
	position: absolute;
	width: 43px;
	height: 43px;
	left: 29px;
	top: 402px;

	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
	filter: blur(5px);
	backdrop-filter: blur(2px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.background__5--mobile {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 296px;
	top: 236px;

	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
	filter: blur(5px);
	backdrop-filter: blur(2px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.background__6--mobile {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 278px;
	top: 563px;

	background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
	filter: blur(2.5px);
	backdrop-filter: blur(2px);
	z-index: -1;
	@media (min-width: 1200px) {
		display: none;
	}
}
.backgrounds-wrapper {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------
