.header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: start;
	padding-top: 18px;
	margin-bottom: 18px;

	@media (min-width: 1200px) {
		justify-content: space-between;
		margin-bottom: 90px;
		padding-top: 57px;
	}
}
.header__logo {
	display: none;

	@media (min-width: 1200px) {
		display: block;
	}
}
.logo__image {
	display: flex;
	margin-bottom: 10px;
}
.logo__left {
	margin-right: 4px;
}
.logo__right {
	padding: 5px;
}
.logo__text {
	width: 140px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	color: #E4E5EA;
}
.nav__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #E4E5EA;
	padding: 0px 7px 0px 7px;
	transition: all .3s ease;

    &:hover {
        text-decoration: underline;
        color: #acadb0;
    }

	&:last-child {
		display: none;
	}

	@media (min-width: 1200px) {
		&:last-child {
			display: inline-block;
			margin-right: 30px;
		}
	}
}
.header__social {
	display: none;

	@media (min-width: 1200px) {
		display: flex;
	}
}
.social__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: right;
	color: #E4E5EA;
	margin-right: 34px;
	transition: all .3s ease;

    &:hover {
        text-decoration: underline;
        color: #acadb0;
    }

	&:first-child {
		margin-right: 48px;
	}

	&:last-child {
		margin-right: 0;
	}
}
.social__item--img {
	width: 20px;
	height: 20px;
	padding: 3px;
	
	img {
		display: block;
	}
}